{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    },
    "rules": {
        "no-dupe-else-if": "error",
        "no-import-assign": "error",
        "no-setter-return": "error",
        "require-atomic-updates": "error",
        "accessor-pairs": "error",
        "array-callback-return": "error",
        "class-methods-use-this": "warn",
        "curly": "warn",
        "default-param-last": "error",
        "eqeqeq": "error",
        "grouped-accessor-pairs": "warn",
        "guard-for-in": "error",
        "no-alert": "warn",
        "no-caller": "error",
        "no-constructor-return": "error",
        "no-empty-function": "warn",
        "no-eq-null": "warn",
        "no-eval": "warn",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-floating-decimal": "warn",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal-escape": "warn",
        "no-param-reassign": "warn",
        "no-proto": "error",
        "no-return-assign": "warn",
        "no-return-await": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "warn",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": "error",
        "no-useless-call": "error",
        "no-useless-concat": "warn",
        "no-useless-return": "error",
        "no-void": "error",
        "prefer-promise-reject-errors": "error",
        "prefer-regex-literals": "warn",
        "radix": "warn",
        "require-await": "warn",
        "require-unicode-regexp": "warn",
        "wrap-iife": ["error", "inside"],
        "yoda": ["warn", "never", { "exceptRange": true }],
        "strict": "error",
        "init-declarations": "error",
        "no-label-var": "error",
        "no-shadow": "error",
        "no-undefined": "error",
        "no-use-before-define": "error",
        "callback-return": ["error", ["callback", "done", "resolve", "reject"]],
        "array-bracket-spacing": "warn",
        "block-spacing": "warn",
        "brace-style": "warn",
        "camelcase": "warn",
        "capitalized-comments": "warn",
        "comma-dangle": "warn",
        "comma-spacing": "warn",
        "comma-style": "warn",
        "computed-property-spacing": "warn",
        "eol-last": "warn",
        "func-call-spacing": "warn",
        "implicit-arrow-linebreak": "error",
        "indent": ["warn", 2],
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "max-len": ["warn", { "code": 82 }],
        "new-cap": "warn",
        "new-parens": "warn",
        "no-lonely-if": "error",
        "no-multiple-empty-lines": "warn",
        "no-tabs": "warn",
        "no-trailing-spaces": "warn",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "warn",
        "object-curly-spacing": ["warn", "always"],
        "prefer-exponentiation-operator": "warn",
        "prefer-object-spread": "warn",
        "quotes": ["warn", "single", {
            "avoidEscape": true,
            "allowTemplateLiterals": true 
        }],
        "semi": ["warn", "never"],
        "semi-spacing": "warn",
        "semi-style": "warn",
        "space-before-function-paren": "warn",
        "space-in-parens": "warn",
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "spaced-comment": ["warn", "always"],
        "switch-colon-spacing": "warn",
        "template-tag-spacing": "warn",
        "arrow-body-style": "warn",
        "arrow-parens": ["warn", "as-needed"],
        "arrow-spacing": "warn",
        "generator-star-spacing": "warn",
        "no-confusing-arrow": "warn",
        "no-duplicate-imports": "warn",
        "no-useless-computed-key": "warn",
        "no-useless-constructor": "error",
        "no-useless-rename": "warn",
        "no-var": "error",
        "object-shorthand": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-numeric-literals": "warn",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "warn",
        "rest-spread-spacing": "warn",
        "sort-imports": "warn",
        "symbol-description": "error",
        "yield-star-spacing": "warn"
    }
}
