{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-dupe-else-if": "error",
    "no-import-assign": "error",
    "no-setter-return": "error",
    "require-atomic-updates": "error",
    "accessor-pairs": "error",
    "array-callback-return": "error",
    "class-methods-use-this": "warn",
    "default-param-last": "error",
    "eqeqeq": "error",
    "grouped-accessor-pairs": "warn",
    "guard-for-in": "error",
    "no-alert": "warn",
    "no-caller": "error",
    "no-constructor-return": "error",
    "no-empty-function": "warn",
    "no-eq-null": "warn",
    "no-eval": "warn",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "warn",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "warn",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-return-assign": "warn",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "warn",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "warn",
    "no-useless-return": "error",
    "no-void": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-regex-literals": "warn",
    "radix": "warn",
    "require-await": "warn",
    "require-unicode-regexp": "warn",
    "wrap-iife": ["error", "inside"],
    "yoda": ["warn", "never", { "exceptRange": true }],
    "strict": "error",
    "init-declarations": "error",
    "no-label-var": "error",
    "no-shadow": "error",
    "no-undefined": "error",
    "no-use-before-define": "error",
    "callback-return": ["error", ["callback", "done", "resolve", "reject"]],
    "camelcase": "warn",
    "capitalized-comments": "warn",
    "eol-last": "warn",
    "implicit-arrow-linebreak": "error",
    "new-cap": "warn",
    "new-parens": "warn",
    "no-lonely-if": "error",
    "no-unneeded-ternary": "warn",
    "prefer-exponentiation-operator": "warn",
    "prefer-object-spread": "warn",
    "arrow-body-style": "warn",
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": "warn",
    "generator-star-spacing": "warn",
    "no-confusing-arrow": "warn",
    "no-duplicate-imports": "warn",
    "no-useless-computed-key": "warn",
    "no-useless-constructor": "error",
    "no-useless-rename": "warn",
    "no-var": "error",
    "object-shorthand": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-numeric-literals": "warn",
    "prefer-rest-params": "error",
    "prefer-template": "warn",
    "rest-spread-spacing": "warn",
    "sort-imports": "warn",
    "symbol-description": "error",
    "yield-star-spacing": "warn",
    "prettier/prettier": "error"
  }
}
