:root {
  // Color naming scheme:
  // Colors are named --color-<group>-<part><number>
  //   <group> is primary, secondary, tertiary...
  //   <part> is either b (background), f (foreground), a (accent).
  //   <number> roughly means darkness.

  --color-primary-b1: hsl(250, 0%, 100%);
  --color-primary-b2: hsl(250, 60%, 98%);
  --color-primary-a1: hsl(250, 40%, 92%);
  --color-primary-f5: hsl(250, 10%, 40%);
  --color-primary-f6: hsl(250, 15%, 35%);
  --color-primary-f7: hsl(250, 20%, 30%);
  --color-primary-f9: hsl(250, 10%, 30%);
  --color-secondary-b5: hsl(250, 55%, 40%);
  --color-secondary-b4: hsl(250, 52%, 45%);
  --color-secondary-b3: hsl(250, 50%, 48%);
  --color-secondary-f1: hsl(250, 15%, 80%);
}
