:root {
  background: var(--color-primary-b1);
  color: var(--color-primary-f6);
  font-family: var(--type-family);
  font-size: var(--type-size-1);
  font-weight: var(--type-weight-2);
  line-height: var(--type-height-2);
}
