<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {{ $direction := T "direction" }}
    {{ if eq $direction "ltr" }}
    <link rel="stylesheet" href="{{ absURL "/main.css" }}">
    {{ else if eq $direction "rtl" }}
    <link rel="stylesheet" href="{{ absURL "/main.rtl.css" }}">
    {{ end }}
    <title>{{ .Title }}</title>
</head>
<body>
    {{- block "main" . }}{{- end }}
    <script src="{{ absURL "/main.js" }}"></script>
</body>
</html>
