<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="{{ absURL "main.css" }}">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-items">
        {{ $current := . }}
        <li>
          <a href class="navbar-logo">
            {{ .Site.Title }}
          </a>
        </li>
        <span class="navbar-items-spacer"></span>
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" class="navbar-item {{ if $current.IsMenuCurrent "main" . }} navbar-item-active{{ end }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{- block "main" . }}{{- end }}
    <script src='{{ absURL "main.js" }}'></script>
  </body>
</html>
