@use '@lkummer/break' as break;
@use '../theme/screen.scss';

.content {
  font-family: var(--type-family-longform);
  line-height: var(--type-height-3);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--type-family);
    line-height: var(--type-height-1);
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--space-4);
    margin-top: var(--space-8);
  }

  h1,
  h2 {
    font-size: var(--type-size-5);
    margin-bottom: var(--space-6);
    margin-top: var(--space-10);
  }

  h3 {
    font-size: var(--type-size-4);
  }

  h4 {
    font-size: var(--type-size-3);
  }

  h5 {
    font-size: var(--type-size-2);
  }

  h6 {
    font-size: var(--type-size-1);
  }

  p {
    margin-bottom: var(--space-6);
    margin-top: 0;
  }

  ul,
  ol {
    margin-bottom: var(--space-8);
    margin-top: 0;
    padding-left: var(--space-12);
  }

  li {
    margin-bottom: var(--space-1);

    > p {
      margin-bottom: var(--space-1);
    }
  }

  li::marker {
    color: var(--color-primary-f4);
    font-family: var(--type-family);
  }

  table {
    background: var(--color-primary-b4);
    border-collapse: separate;
    border-radius: var(--space-2);
    border-spacing: 0;
    margin-bottom: var(--space-8);
    margin-top: var(--space-4);
    width: 100%;
  }

  th {
    font-family: var(--type-family);
    text-align: left;
  }

  td,
  th {
    padding: var(--space-2) var(--space-4);
  }

  tr:nth-of-type(2n) > td {
    background: var(--color-primary-b5);
  }

  tr:last-child {
    td:first-child {
      border-radius: 0 0 0 var(--space-2);
    }

    td:last-child {
      border-radius: 0 0 var(--space-2) 0;
    }
  }

  th:first-child {
    border-radius: var(--space-2) 0 0 0;
  }

  th:last-child {
    border-radius: 0 var(--space-2) 0 0;
  }

  pre {
    background: var(--color-syntax-background);
    border-radius: var(--space-2);
    color: var(--color-syntax-foreground);
    margin-bottom: var(--space-8);
    margin-top: 0;
    overflow: auto;
    padding: var(--space-2) var(--space-4);
  }

  code {
    font-family: var(--type-family-monospace);
  }

  a {
    color: var(--color-primary-a2);
    text-decoration: underline hsl(0deg 0% 0% / 0%);
    transition: all var(--motion-fast);

    &:hover {
      color: var(--color-primary-a3);
      text-decoration: underline;
    }

    &:active {
      color: var(--color-primary-a4);
    }
  }

  &-title {
    @include break.media-under('small', screen.$breakpoints) {
      margin-bottom: var(--space-4);
      margin-top: var(--space-24);
    }

    font-family: var(--type-family);
    font-size: var(--type-size-6);
    font-weight: var(--type-weight-4);
    line-height: var(--type-height-1);
    margin-bottom: var(--space-8);
    margin-top: var(--space-12);
  }
}
