@use '@lkummer/break' as break;
@use '../theme/screen.scss';

.navbar {
  @include break.media-under('small', screen.$breakpoints) {
    position: fixed;
    width: 100%;
  }

  background: var(--color-secondary-b5);
  box-shadow: 0 0.1rem var(--space-2) hsla(0, 0%, 0%, 20%),
    0 0.15rem var(--space-2) hsla(0, 0%, 0%, 10%);
  padding: 0 var(--space-4) 0 0;
  z-index: 10;

  &-logo {
    @include break.media-under('small', screen.$breakpoints) {
      padding: var(--space-6) var(--space-4);
    }

    color: var(--color-secondary-f1);
    display: inline-block;
    font-size: var(--type-size-2);
    font-weight: var(--type-weight-5);
    padding: var(--space-6) var(--space-8);
    text-decoration: none;
  }

  &-items {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &-spacer {
      flex-grow: 1;
    }
  }

  &-item {
    @include break.media-under('small', screen.$breakpoints) {
      display: none;
    }

    background: inherit;
    border: none;
    border-radius: var(--space-4);
    color: var(--color-secondary-f1);
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: var(--space-4);
    padding: var(--space-3) var(--space-4);
    text-decoration: none;
    transition: all var(--motion-fast);

    &-active {
      background: var(--color-secondary-b4);
      font-weight: var(--type-weight-5);
    }

    &[aria-expanded='true'] {
      background: var(--color-secondary-b4);
    }

    &:hover {
      background: var(--color-secondary-b4);
    }

    &:active {
      background: var(--color-secondary-b3);
    }
  }

  &-hamburger {
    @include break.media-under('small', screen.$breakpoints) {
      display: flex;
    }

    align-items: center;
    display: none;

    &-icon {
      display: inline;
      height: 2ex;
      margin-right: var(--space-2);

      &-top,
      &-middle,
      &-bottom {
        fill: var(--color-secondary-f1);
        transition: all var(--motion-fast);
      }
    }

    &[aria-expanded='true'] {
      .navbar-hamburger-icon {
        &-top {
          transform: translateY(5.5px) rotate(45deg);
          transform-origin: 8px 2.5px;
        }

        &-middle {
          opacity: 0;
        }

        &-bottom {
          transform: translateY(-5.5px) rotate(-45deg);
          transform-origin: 8px 13.5px;
        }
      }
    }
  }
}
