@use '@lkummer/break' as break;
@use '../theme/screen.scss';

.navmenu {
  @include break.media-under('small', screen.$breakpoints) {
    padding-top: var(--space-24);
  }

  background: var(--color-tertiary-b5);
  padding-bottom: var(--space-4);
  padding-top: var(--space-8);

  &-top {
    list-style: none;
    margin: 0;
    padding: 0 var(--space-4);

    &-item {
      border-radius: var(--space-2);
      color: var(--color-tertiary-f3);
      display: block;
      margin: var(--space-4) 0 0 0;
      padding: var(--space-2) var(--space-4);
      text-decoration: none;
      transition: all var(--motion-fast);

      &-active {
        background: var(--color-tertiary-b6);
        border-radius: var(--space-2);
        color: var(--color-tertiary-f4);
      }

      &:hover {
        background: var(--color-tertiary-b6);
        color: var(--color-tertiary-f4);
      }

      &:active {
        background: var(--color-tertiary-b7);
        color: var(--color-tertiary-f5);
      }

      &:first-of-type {
        margin: 0;
      }
    }
  }

  &-section {
    cursor: pointer;
    margin: var(--space-4) var(--space-4) 0 var(--space-4);
    user-select: none;

    &-summary {
      border-radius: var(--space-2);
      color: var(--color-tertiary-f3);
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: var(--space-2) var(--space-4);
      transition: all var(--motion-fast);

      &-title {
        font-size: var(--type-size-2);
        font-weight: var(--type-weight-4);
        margin: 0;
        padding: 0;
      }

      &-indicator {
        margin-left: var(--space-4);
        width: var(--space-4);

        &-path {
          fill: var(--color-tertiary-a3);
          transform-origin: 8px 8px;
          transition: all var(--motion-fast);
        }
      }

      &-current {
        color: var(--color-tertiary-f6);
      }

      &:hover {
        background: var(--color-tertiary-b6);
        color: var(--color-tertiary-f4);
      }

      &:active {
        background: var(--color-tertiary-b7);
        color: var(--color-tertiary-f5);
      }
    }

    &[open] &-summary-indicator-path {
      transform: rotate(180deg) scale(0.9);
    }

    &-pages {
      list-style: none;
      margin: var(--space-2) 0 0 0;
      padding: 0 0 0 var(--space-4);

      &-item {
        border-radius: var(--space-2);
        color: var(--color-tertiary-f3);
        display: block;
        margin: var(--space-2) 0 0 0;
        padding: var(--space-2) var(--space-4);
        text-decoration: none;
        transition: all var(--motion-fast);

        &-current {
          background: var(--color-tertiary-b6);
          border-radius: var(--space-2);
          color: var(--color-tertiary-f4);
        }

        &:hover {
          background: var(--color-tertiary-b6);
          color: var(--color-tertiary-f4);
        }

        &:active {
          background: var(--color-tertiary-b7);
          color: var(--color-tertiary-f5);
        }
      }
    }
  }
}
