.search {
  &-results {
    @keyframes popup-show {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    background: var(--color-quaternary-b1);
    border: solid 1px var(--color-quaternary-a1);
    border-radius: var(--space-2);
    bottom: -100%;
    box-shadow: 0 var(--space-1) var(--space-2) var(--space-n1)
      hsl(0deg 0% 0% / 25%);
    display: none;
    overflow: auto;
    padding: var(--space-6) var(--space-5) var(--space-2) var(--space-5);
    position: absolute;
    transition: opacity var(--motion-fast);

    &-active {
      display: grid;
    }

    &-show {
      animation: popup-show var(--motion-fast);
    }

    &-hide {
      animation: popup-show var(--motion-fast) reverse;
    }

    &-section {
      color: var(--color-quaternary-f3);
      font-size: var(--type-size-1);
      font-weight: var(--type-weight-2);
      margin: 0 0 var(--space-2) 0;
    }

    &-links {
      list-style: none;
      margin: 0 0 var(--space-n2) 0;
      padding: 0 0 var(--space-4) 0;

      &-item {
        background: var(--color-quaternary-b2);
        border-radius: var(--space-2);
        color: var(--color-quaternary-f5);
        display: inline-block;
        display: block;
        font-weight: var(--type-weight-4);
        margin-bottom: var(--space-2);
        padding: var(--space-2) var(--space-4);
        text-decoration: none;
        transition: all var(--motion-fast);

        &:hover {
          background: var(--color-quaternary-b3);
          color: var(--color-quaternary-f6);
        }

        &:active {
          background: var(--color-quaternary-b4);
          color: var(--color-quaternary-f7);
        }

        &-title {
          color: var(--color-quaternary-f4);
        }
      }

      &-match {
        font-family: var(--type-family-monospace);
        font-size: var(--type-size-0);
        hyphens: auto;
        width: 100%;
        word-break: break-word;

        &-preview {
          font-weight: var(--type-weight-1);
        }

        &-highlight {
          font-weight: var(--type-weight-4);
        }

        &-wrapper {
          // Done through a wrapper because margins on the child do not reduce the
          // child's width.
          padding-left: var(--space-4);
        }
      }
    }

    &-empty {
      font-size: var(--type-size-3);
      font-weight: var(--type-weight-2);
      grid-column: 1 / 3;
      margin: 0 0 var(--space-4) 0;
      text-align: center;
    }
  }
}
