.section {
  &-top {
    background: var(--color-primary-b2);
    border-radius: var(--space-4) var(--space-4) 0 0;

    &-title {
      font-size: var(--type-size-2);
      font-weight: var(--type-weight-3);
      margin: 0;
      padding: var(--space-8) var(--space-12) var(--space-4) var(--space-12);
    }

    &-description {
      font-family: var(--type-family-longform);
      margin: 0;
      padding: 0 var(--space-12) var(--space-8) var(--space-12);
    }
  }

  &-bottom {
    border-bottom: 1px solid var(--color-primary-a1);
    border-left: 1px solid var(--color-primary-a1);
    border-radius: 0 0 var(--space-4) var(--space-4);
    border-right: 1px solid var(--color-primary-a1);
    list-style: none;
    padding: var(--space-4) var(--space-12) var(--space-8) var(--space-12);

    &-item {
      color: var(--color-primary-f5);
      display: inline-block;
      margin-top: var(--space-4);
      text-decoration: underline hsla(0, 0%, 0%, 0%);
      transition: all var(--motion-fast);

      &:hover {
        color: var(--color-primary-f6);
        text-decoration: underline;
      }

      &:active {
        color: var(--color-primary-f7);
      }
    }
  }
}
