@use '@lkummer/break' as break;
@use '../theme/screen.scss';

.version {
  &-select {
    @include break.media-under('small', screen.$breakpoints) {
      display: none;
    }

    background: var(--color-secondary-b2);
    border: solid 1px var(--color-secondary-a1);
    border-radius: var(--space-2);
    color: var(--color-secondary-f8);
    font-size: var(--type-size-1);
    height: var(--space-10);
    margin-left: var(--space-2);
    outline: 0 solid var(--color-secondary-a1);
    padding: var(--space-2) var(--space-4);
    transition: outline var(--motion-fast), background var(--motion-fast);

    &:hover {
      background: var(--color-secondary-b1);
    }

    &:active {
      background: var(--color-secondary-b1);
    }

    &[aria-expanded='true'] {
      outline: 3px solid var(--color-secondary-a1);
    }

    &-label {
      color: var(--color-secondary-f9);
    }
  }

  &-menu {
    @keyframes popup-show {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    background: var(--color-quaternary-b1);
    border: solid 1px var(--color-quaternary-a1);
    border-radius: var(--space-2);
    box-shadow: 0 var(--space-1) var(--space-2) var(--space-n1)
      hsl(0deg 0% 0% / 25%);
    display: none;
    overflow: auto;
    padding: var(--space-4) var(--space-4);
    transition: opacity var(--motion-fast);

    &-active {
      display: block;
    }

    &-show {
      animation: popup-show var(--motion-fast);
    }

    &-hide {
      animation: popup-show var(--motion-fast) reverse;
    }

    &-list {
      list-style: none;
      margin: 0 0 var(--space-n2) 0;
      padding: 0;

      &-item {
        background: var(--color-quaternary-b2);
        border-radius: var(--space-2);
        color: var(--color-quaternary-f5);
        display: inline-block;
        display: block;
        margin-bottom: var(--space-2);
        padding: var(--space-2) var(--space-4);
        text-decoration: none;
        transition: all var(--motion-fast);

        &:hover {
          background: var(--color-quaternary-b3);
          color: var(--color-quaternary-f6);
        }

        &:active {
          background: var(--color-quaternary-b4);
          color: var(--color-quaternary-f7);
        }

        &-active {
          background: var(--color-quaternary-b4);
          color: var(--color-quaternary-f7);
        }
      }
    }
  }
}
